/*Estilos gerais*/

body {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}

.btn {
  border: 3px solid #fec63e;
  padding: 10px 30px;
  cursor: pointer;
  color: #fec63e;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.btn:hover {
  color: #fff;
  border-color: #fff;
}

.btn.btn-background:hover {
  color: #000;
  border-color: #000;
}

.caption {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.caption:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px auto;
}

/*HEADER*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fec63e; /* Padrão do site!*/
  padding: 15px 0;
  z-index: 10;
}

.header-menu {
  text-align: right;
}
.header-menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}
.header-menu ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}

.header-menu ul li a:hover {
  color: #fff;
}
/*Introdução*/

.introduction {
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 96px;
  text-align: center;
  padding-top: 80px;
}
.introduction h1 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-ex {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #fff;
}

.quote-ex p {
  font-style: italic;
}

/*pseudo classe - Before ou after add linhas no html*/
.quote-ex p:before,
.quote-ex p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 14px auto 10px auto;
}

.quote-ex cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1rem;
}

/*Produtos*/

.products {
  padding: 60px 0;
}

.products-list li {
  background: #fec63e;
  text-align: center;
}

.products-list li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 20px;
}

.products-list li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 2px auto;
}

.products-icon {
  background: #000;
  padding: 20px;
}

.products-list li p {
  padding: 10px 20px 20px 20px;
}

.call {
  padding-top: 40px;
  text-align: center;
  clear: both;
}

.call p {
  margin-bottom: 20px;
}

/*Portfólio*/

.portfolio {
  width: 100%;
  background: #000;
  padding: 40px 0;
}
.portfolio .caption {
  color: #fec63e;
}

.portfolio .caption:after {
  background: #fec63e;
}

/*Pseudo classe de seleção do ultimo item */
.portfolio-list li:last-child {
  margin-top: 20px;
}

.portfolio .call p {
  color: #fff;
}
